<div class="row">
  <table *ngIf="week" class="table">
    <th></th>
    <th *ngFor="let day of week.days">{{day.name}}</th>
    <tr *ngFor="let menu of [0,1]">
      <td><h1>#{{menu+1}}</h1></td>
      <td *ngFor="let day of week.days">
        <div *ngIf="day.items[menu]" class="card">
          <div class="ovr-image">
              <img src="{{day.items[menu].imageURL}}"  class="card-img-top">
              <h2><span class="ovr-text">&euro; {{day.items[menu].salesPrice | number:'.2-2'}}</span></h2>
            </div>          
          <div class="card-body">
            <p class="card-text">{{day.items[menu].description}}</p>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
  