.ovr-image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h2 {
    position: absolute; 
    bottom: 5px; 
    right: 5px; 

 }

 h2 .ovr-text { 
    color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
 }