<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb0 h1">
    Today's menu
  </span>
  <div class="navbar-nav">
  </div>
  <div class="navbar-nav flex-row ">
    <div class="nav-item">
      <app-connection-status [status]="connectionStatus" ></app-connection-status>
    </div>
    <div class="nav-item">
      <i class="text-muted fa fa-cog ml-3 icon-24"></i>
    </div>
  </div>
</nav>
<div class="container">
  <ngb-alert class="mt-1" *ngIf="errorMessage" type="danger" (close)="errorMessage = null">
    <strong>Error!</strong> {{errorMessage}}
  </ngb-alert>
  <button class="btn btn-primary" (click)="onLoadCLicked()">load</button>
</div>