<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb0 h1">
    Today's menu
  </span>
  <div class="navbar-nav">
  </div>
  <div class="navbar-nav flex-row ">
    <div class="nav-item">
      <app-connection-status [status]="connectionStatus" ></app-connection-status>
    </div>
    <div class="nav-item">
      <i class="text-muted fa fa-cog ml-3 icon-24"></i>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <ngb-alert class="mt-1" *ngIf="errorMessage" type="danger" (close)="errorMessage = null">
      <strong>Error!</strong> {{errorMessage}}
    </ngb-alert>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="onTodayItemsClicked()">today's menu</button>
  </div>
  <div class="row">
    <div *ngFor="let item of items" class="card" style="width: 18rem;">
      <img src="{{imageURL(item.picture)}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Menu #{{item.menuId}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
    </div>
  </div>
</div>